body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game {
    padding-top: 30%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.starbox {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

#game-container {
    margin: 0 auto;
    height: auto;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffe055; /* Default blue color */
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

button:hover:not([disabled]) {
    background-color: #ffffff; /* Darker blue color for hover */
    cursor: pointer;
}

#options button {
    margin: 10px;
}

button.correct {
    background-color: #2ecc71; /* Light green color for correct button */
}

button.wrong {
    background-color: #e74c3c; /* Light red color for wrong button */
}

button.disabled {
    opacity: 0.6; /* Reduced opacity for disabled options */
    cursor: default;
}

.star {
    max-width: 40px;
    max-height: 40px;
    position: absolute;
}