@import url('https://fonts.googleapis.com/css?family=Architects Daughter');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Architects Daughter";
    font-size: 25px;
}

/*
:root {
    --background-color1: #fafaff;
    --background-color2: #C1E1C1;
    --background-color3: #ededed;
    --background-color4: #90EE90;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
}
*/
:root {
    --background-color1: #f7e6d4; 
    --background-color2: #a2d2ca; 
    --background-color3: #ffcc80; 
    --background-color4: #b8d8b8; 
    --primary-color: #4386f4; 
    --secondary-color: #ff5c8a; 
    --border-color: #bfbfbf; 
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}

.logosection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.logout_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
}

.logout_top .icn{
    cursor: pointer;
}

.logout_top .dpicn{
    cursor: pointer;
}

.log_in {
    cursor: pointer;
}


.dp {
    height: 50px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.dpicn {
    height: 42px;
}


.nav {
    min-height: 100vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 80px;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 25px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.box-math {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease; /* Add a smooth transition */
}

.box-math:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
          mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}
.box-history{
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.box-science{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.box-geo{
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's color */
}

.game-img {
    width: 200px;
    --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}
.game-img:hover{
    -webkit-mask-position: 7.5% 50%,92.5% 50%;
    mask-position: 7.5% 50%,92.5% 50%;
filter: grayscale(0);
}
.game-title {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 100%;
}
.button-container {
    display: flex;
    padding-bottom: 10%;
  }
  
  .button-ui {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: rgb(0, 0, 0);
    background: linear-gradient(0deg, #f9ca24 0%, #e7b31e 100%); /* Gradient with yellow pastel and a slightly darker shade */
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #f9ca24;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  .button-ui:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #fffffe;
  }
  
  .button-ui:active {
    box-shadow: 0 0.3em 1em -0.5em #f9ca24;
  }

 