@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
html {
    height: 100%;
   
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: "Architects Daughter";
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url('Images/Back\ to\ School 1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
 
  
  #main-holder {
    width: 20%;
    height: 45%;
    display: grid;
    background: white;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    margin-left: -55%;

    font-size: 20px;
  }

  #error-holder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#error{
    max-width: 80%;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 18px; 
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#error-display-line {
    display: block;
}
  #login-form {
    padding-top: 20px;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form::placeholder {
    color: #3a3a3a;
  }
  
  .login-form {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 80%;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #submit {
    width: 100px; /* Set the width to your desired value */
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #6daa55;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  #submit:hover {
    background-color: #8dc73f; /* Change to your desired hover color */
  }